* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 80%;
  margin-bottom: 100px;
  background-color: #2a344f;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5c84eb;
  width: 250px;
  height: 40px;
  font-size: 13px;
  color: white;
}

.opgg-button {
  background-color: #5c84eb;
  font-size: 23px;
  font-weight: 770;
  color: white;
  border-width: 0;
}

.lolicon-img {
  width: 40px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.other {
  color: #c4cbd1;
  border-width: 0;
  background-color: #2a344f;
}

.logo2 {
  color: #c4cbd1;
  border-width: 0;
  font-size: 13px;
  background-color: #2a344f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
